<div class="page-header">
  <%= link_to new_situacao_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Nova situação
  <% end %>
  <h1>Listando situações</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Cor</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @situacoes) do |situacao| %>
        <td><%= situacao.nome %></td>
        <td style="background-color:<%= situacao.cor %>"><%= situacao.cor %></td>
        <td><%= link_to 'Mostrar', situacao %></td>
        <td><%= link_to 'Editar', edit_situacao_path(situacao) %></td>
        <td><%= link_to 'Apagar', situacao, method: :delete, data: { confirm: 'Tem certeza ?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
