<div class="page-header">
  <%= link_to chamados_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <%= link_to edit_chamado_path(@chamado), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <h1>Mostrar chamado</h1>
</div>

<dl class="dl-horizontal">
  <dt>Categoria:</dt>
  <dd><%= @chamado.categoria.nome %></dd>

  <dt>Assunto:</dt>
  <dd><%= @chamado.assunto %></dd>

  <dt>Usuario:</dt>
  <dd><%= @chamado.usuario.nome %></dd>

  <dt>Status:</dt>
  <dd>
    <div style="width: 200px;background-color:<%= @chamado.situacao.cor %>; padding: 10px; border-radius: 6px;text-align: center;">    
    <%= @chamado.situacao.nome %>
    </div>    
  </dd>

  <dt>Lido:</dt>
  <dd><%= @chamado.lido ? "Sim" : "Não" %></dd>
</dl>
<hr>
<%= form_for(:resposta, url: "/chamados/#{@chamado.id}/alterar", html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @chamado.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4>Confira os erros abaixo</h4>

      <ul>
      <% @chamado.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :situacao_id, "Situação", class: "col-sm-2 control-label" %>
    <div class="col-sm-2">
      <%= f.select :situacao_id, Situacao.all.collect { |situacao| [situacao.nome, situacao.id] }, :selected => @chamado.situacao_id, class: "form-control" %>
    </div>
    <div class="col-sm-8">
      <%= f.submit "Alterar", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>

<hr>
<% @chamado.perguntas_respostas.each do |pr| %>
<div class="<%= pr.administrador_id.present? ? "resposta" : "pergunta" %>">
  <dt><%= pr.administrador_id.present? ? "Resposta" : "Pergunta" %>:</dt>
  <dd><%= pr.comentario %></dd>
  <dd><%= pr.created_at.strftime("%d/%m/%Y %H:%M") %></dd>
</div>
<% end %>
<hr>zz
<%= form_for(:resposta, url: "/chamados/#{@chamado.perguntas_respostas.last.id}/responder", html: { class: "form-horizontal", role: "form" }) do |f| %>
  <div class="form-group">
    <input type="hidden" name="chamado_original_id" value="<%= @chamado.id %>">
    <%= f.label :comentario, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_area :comentario, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit "Responder", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
